/* @font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat-Regular'),
    url('../fonts/montserrat.woff2') format('woff2'),
    url('../fonts/montserrat.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserratbold.woff2') format('woff2'),
    url('../fonts/montserratbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black'), local('Montserrat-Black'),
    url('../fonts/montserratblack.woff2') format('woff2'),
    url('../fonts/montserratblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
} */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --font-size: 16px;
  --color: #C93;
  --w-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}


body {
  background: #fff;
  margin: 0 auto;
  font-family: 'Montserrat';
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  padding: 0 74px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.title {
  margin: 0;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 59px;
}

.visually-hidden {
  visibility: hidden;
  font-size: 0px;
  font-weight: 0;
  line-height: 0px;
}

/* header */

.header__container {
  position: relative;
  margin-bottom: 0;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.header__burger-elem {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.header__burger {
  display: none;
}

.header__burger:focus {
  outline: 2px solid #f90;

}

.header__burger:active .header__burger-elem {
  background-color: #E1670E;
}

.header__burger:active .header__burger-elem:nth-child(2) {
  width: 25px;
  margin-left: auto;
  margin-right: 0;
}

.header__burger:active .header__burger-elem:last-child {
  width: 18px;
  margin-left: auto;
  margin-right: 0;
}

.header__link:not(:last-child) {
  margin-right: 75px;
  padding: 2px 6px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.header__link-a:focus {
  color: #333;
  outline: 2px solid #f90;
}

.header__link-a:hover {
  border-bottom: 2px solid #f90;
}

.header__link-a:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
  transition: color 500ms ease;
}

.header__link-search {
  padding: 10px 1px 0 2px;
}

.header__link-search:focus {
  outline: 2px solid #f90;
}

.header__link-search:hover path {
  stroke: #f90;
  transition: stroke 500ms ease;
}

.header__link-search:hover rect {
  fill: #f90;
  transition: stroke 500ms ease;
}

.header__link-search:active path {
  stroke: #f90;
  transition: stroke 500ms ease;
}

.header__link-search:active rect {
  fill: #f90;
  transition: stroke 500ms ease;
}

.burger__menu {
  position: absolute;
  width: 420px;
  height: 770px;
  padding: 40px 50px;
  top: 0;
  left: -100vw;
  z-index: 10000000;
  background-color: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  transition: left 500ms ease;
}

.burger__close {
  width: 23px;
  height: 23px;
  margin-bottom: 100px;
}

.burger__list {
  flex-direction: column;
}

.burger__link:not(:last-child) {
  margin-bottom: 60px;
}

.burger__link-a {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
}

.burger__link-a:focus {
  color: #333;
  outline: 2px solid #f90;
}

.burger__link-a:hover {
  border-bottom: 2px solid #f90;
}

.burger__link-a:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
  transition: color 500ms ease;
}

.burger--active {
  left: 0;
  transition: left 500ms ease;
}

.header__search-menu {
  position: absolute;
  width: 539px;
  height: 60px;
  padding: 16px 0;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  top: 19px;
  right: -10000vw;
  z-index: 10000000;
  transition: left 500ms ease;
}

.header__form-search {
  flex-direction: row;
}

.search:focus {
  outline: 2px solid #fff;
}

.search {
  width: 412px;
  margin-right: 14px;
  margin-left: 32px;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ADADAD;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #ADADAD;
}

.header__link-search2 {
  margin-right: 22px;
  width: 24px;
  height: 24px;
  background-image: url(../img/search-color.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.header__search-close:focus {
  outline: 2px solid #f90;
}

.header__search-close:hover circle {
  stroke: #f90;
}

.header__search-close:hover rect {
  fill: #f90;
}

.header__search-close:active circle {
  stroke: #333;
}

.header__search-close:active rect {
  fill: #333;
}

.search--active {
  right: 0;
  transition: left 500ms ease;
}

/* project */
.project {
  position: relative;
  height: 620px;
}

.project__container {
  height: 100%;
  overflow: hidden;
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
}

.project__descr-block {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  padding-top: 100px;
  padding-left: 155px;
}

.project__title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  font-family: Montserrat;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 85px;
  color: #fff;
}

.project__descr {
  margin: 0;
  margin-bottom: 90px;
  max-width: 820px;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #fff;
}

.project__btn {
  padding: 25px 37px;
  background-color: #f90;
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #fff;
}

.project__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background-color 500ms ease;
}

.project__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background-color 500ms ease;
}

.project__btn:active {
  background-color: #E1670E;
  transition: background-color 500ms ease;
}

/* about-us */
.about-us__title {
  margin-bottom: 20px;
}

.about-us__descr {
  max-width: 1235px;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.about-us__cards {
  justify-content: space-between;
}

.about-us__left-card {
  flex-basis: 49%;
  margin-right: 32px;
  background-image: url(../img/about-us-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us__top-content {
  height: 426px;
}

.about-us__left-card-content {
  height: 196px;
  background: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  align-content: center;
}

.about-us__left-card-descr {
  padding-left: 50px;
  max-width: 504px;
  margin-right: 5px;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}

.about-us__left-card-mini {
  display: none;
}

.about-us__btn {
  height: 60px;
  margin-right: 50px;
  padding: 18px 36px 22px 36px;
  -ms-grid-row-align: center;
  align-self: center;
  border: 3px solid #f90;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
}

.about-us__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background-color 500ms ease;
}

.about-us__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background-color 500ms ease;
}

.about-us__btn:active {
  background-color: #E1670E;
  transition: background-color 500ms ease;
}

.about-us__right-cards {
  max-width: 870px;
  flex-direction: column;
  flex-basis: 50%;
}

.about-us__right-card1 {
  min-height: 295px;
  margin-bottom: 32px;
  padding: 66px 5px 58px 57px;
  flex-direction: row;
  border: 1px solid #CACACA;
}

.about-us__right-card2 {
  min-height: 295px;
  padding: 66px 5px 58px 57px;
  flex-direction: row;
  border: 1px solid #CACACA;
}

.about-us__right-image {
  max-width: 300px;
  margin-right: 50px;
}

.about-us__right-card-descr {
  align-items: center;
}

.about-us__card-title {
  margin: 0;
  margin-bottom: 14px;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.about-us__right-card-text {
  margin: 0;
  max-width: 450px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* how */
.how__title {
  margin-bottom: 50px;
}

.how__list {
  margin-bottom: 55px;
}

.how__item {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.how__item:not(:last-child) {
  margin-right: 80px;
}

.how__cards {
  display: none;
}

.how__cards--active {
  display: block;
}

.how__block {
  justify-content: space-between;
}

.how__link {
  padding: 0 2px 0 2px;
  border: none;
  background-color: #fff;
}

.how__link--active {
  color: #E1670E;
}

.how__link:focus {
  outline: 2px solid #f90;
}

.how__link:hover {
  color: #f90;
  transition: color 500ms ease;
}

.how__link:active {
  color: #E1670E;
  transition: color 500ms ease;
}

.how__left-top-side {
  min-height: 400px;
}

.how__left-side {
  flex-basis: 49%;
}

.how__title-descr {
  margin: 0;
  margin-bottom: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 14px;
}

.how__descr {
  margin: 0;
  margin-bottom: 50px;
  max-width: 760px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.how__links {
  height: 60px;
  align-content: flex-end;
}

.how__btn {
  padding: 20px 38px;
  margin-right: 32px;
  background: #f90;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff
}

.how__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background-color 500ms ease;
}

.how__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background-color 500ms ease;
}

.how__btn:active {
  background-color: #E1670E;
  transition: background-color 500ms ease;
}

.how__link2 {
  padding: 19px 37px;
  border: 1px solid #333;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.how__link2:focus {
  background-color: #666;
  color: #fff;
  transition-property: color background-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

.how__link2:hover {
  background-color: #666;
  color: #fff;
  transition-property: color background-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

.how__link2:active {
  background-color: #000;
  color: #fff;
  transition-property: color background-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

.how__right-side {
  flex-basis: 49%;
  min-height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
}

.how__right-side-one {
  background-image: url(../img/how1.jpg);
}

.how__right-side-two {
  background-image: url(../img/how2.jpg);
}

.how__right-side-three {
  background-image: url(../img/how3.jpg);
}

.how__right-side-four {
  background-image: url(../img/how4.jpg);
}

/* questions */
.questions__container {
  margin-bottom: 100px;
}

.questions__title {
  padding-bottom: 42px;
  border-bottom: 1px solid #CACACA;
}

.questions__item {
  position: relative;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 8px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.questions__item:focus {
  border-top: 1px solid #f90;
  border-bottom: 1px solid #f90;
  color: #f90;
  transition-property: color border-top border-bottom;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

.questions__item:hover {
  border-top: 1px solid #f90;
  border-bottom: 1px solid #f90;
  color: #f90;
  transition-property: color border-top border-bottom;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

.questions__item:active {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  color: #333;
}

.questions__link {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: 25%;
  background-image: url(../img/question+.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  background-color: #ECECEC;
}

.questions__item:focus .questions__link {
  background-color: #f90;
  transition: fill 500ms ease;
}

.questions__item:hover .questions__link {
  background-color: #f90;
  transition: fill 500ms ease;
}

.ui-state-active .questions__link {
  background-color: #ECECEC;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: fill 500ms ease;
}

.questions__descr {
  padding-right: 55px;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.questions__akkardion-descr {
  min-height: 216px;
  margin-bottom: 5px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* footer */
.footer__container {
  padding: 50px 75px;
  background-color: #222;
  justify-content: space-between;
}

.footer__left-block {
  width: 325px;
}

.footer__logo {
  width: 224px;
  height: 72px;
  margin-bottom: 16px;
}

.footer-list {
  margin-bottom: 90px;
}

.footer__item {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  color: #CACACA;
}

.footer__link:focus {
  color: #CACACA;
  outline: 2px solid #f90;
  transition: color 500ms ease;
}

.footer__link:hover {
  color: #f90;
  transition: color 500ms ease;
}

.footer__link:active {
  color: #E1670E;
  transition: color 500ms ease;
}

.footer__messendger {
  padding: 2px 2px 0 2px;
  margin-right: 21px;
}

.footer__messendger:focus {
  outline: none;
  outline: 1px solid #f90;
}

.footer__messendger:hover path {
  fill: #f90;
  transition: color 500ms ease;
}

.footer__messendger:active path {
  fill: #E1670E;
  transition: color 500ms ease;
}

.footer__central-block {
  padding-left: 70px;
  flex-direction: column;
  margin-right: 50px;
}

.footer__form {
  flex-direction: column;
}

.footer__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 59px;
  color: #CACACA;
}

.footer__input {
  padding-left: 25px;
  max-width: 570px;
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  background-color: #414141;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #CACACA;
}

.footer__input:focus {
  background-color: #666;
  transition: background-color 500ms ease;
  outline: 2px solid #fff;
  border-radius: 2px;
}

.footer__input:hover {
  background-color: #666;
  transition: background-color 500ms ease;
}

.footer__input:active {
  background-color: #414141;
  color: #fff;
  transition: background-color 500ms ease;
}

.footer__form-descr {
  padding-top: 14px;
  padding-left: 25px;
  max-width: 570px;
  width: 100%;
  height: 150px;
  margin-bottom: 32px;
  background-color: #414141;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #CACACA;
}

.footer__form-descr:focus {
  background-color: #666;
  transition: background-color 500ms ease;
  outline: 2px solid #fff;
  border-radius: 2px;
}

.footer__form-descr:hover {
  background-color: #666;
  transition: background-color 500ms ease;
}

.footer__form-descr:active {
  background-color: #414141;
  color: #fff;
  transition: background-color 500ms ease;
}

.footer__radios {
  align-items: center;
}

.footer__btn {
  padding: 19px 52px;
  margin-right: 22px;
  background-color: #f90;
  color: #fff;
}

.footer__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background-color 500ms ease;
}

.footer__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background-color 500ms ease;
}

.footer__btn:active {
  background-color: #E1670E;
  transition: background-color 500ms ease;
}

.footer__radio {
  background-color: #222;
}

.footer__span {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #CACACA;
}

.footer__centr-mini {
  display: none;
}

.footer__right-block {
  width: 363px;
  padding-top: 87px;
  width: 363px;
}

.footer__descr {
  margin: 0;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #CACACA;
}

@media (max-width: 1584px) {
  .about-us__cards {
    flex-direction: column;
  }

  .about-us__left-card {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .about-us__top-content {
    height: 426px;
  }

  .about-us__right-cards {
    max-width: 1550px;
  }

  .about-us__right-card1 {
    min-height: 235px;
    padding-right: 48px;
  }

  .about-us__right-card2 {
    min-height: 235px;
    padding-right: 48px;
  }

  .about-us__right-card-text {
    max-width: 1550px;
  }

  /* footer */

  .footer__container {
    padding: 50px;
  }

  .footer__central-block {
    margin-right: 0;
  }

  .footer__form {
    margin-bottom: 50px;
  }

  .footer__right-block {
    display: none;
  }
}

@media (max-width: 1150px) {

  .container {
    padding: 0 50px;
    margin-bottom: 80px;
  }

  /* header */
  .header__container {
    margin-bottom: 0;
  }

  .header__logo {
    width: 150px;
  }

  .header__burger {
    display: block;
  }

  .header__link:not(:last-child) {
    display: none;
  }

  /* project */
  .project {
    height: 670px;
  }

  .project__descr-block {
    padding-top: 160px;
    padding-left: 127px;
  }

  .project__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .project__descr {
    margin-bottom: 60px;
    max-width: 680px;
    font-size: 20px;
    line-height: 24px;
  }

  .project__title {
    max-width: 800px;
    margin: 0;
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .project__btn {
    padding: 25px 37px;
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
  }

  /* about-us */

  .about-us__title {
    margin-bottom: 9px;
  }

  .about-us__descr {
    margin: 0;
    margin-bottom: 60px;
    line-height: 32px;
  }

  .about-us__left-card {
    height: 672px;
  }

  .about-us__top-content {
    height: 444px;
  }

  .about-us__left-card-descr {
    padding-left: 50px;
    max-width: 490px;
    margin-right: 195px;
  }

  .about-us__right-card1 {
    padding-left: 75px;
  }

  .about-us__right-card2 {
    padding-left: 75px;
  }

  .about-us__image {
    height: 165px;
    width: 190px;
  }

  .about-us__card-title {
    margin-bottom: 9px;
    line-height: 29px;
  }

  .about-us__right-card-text {
    max-width: 450px;
  }

  /* how */

  .how__list {
    margin-bottom: 60px;
  }

  .how__descr {
    margin-bottom: 25px;
  }

  .how__right-side {
    flex-basis: 47%;
  }


  /* question */
  .questions__title {
    padding-bottom: 31px;
  }

  .questions__descr {
    max-width: 800px;
    margin-right: 7px;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 20px;
  }

  /* footer */

  .footer__container {
    margin-bottom: 0;
    padding-top: 50px;
  }

  .footer__central-block {
    padding-left: 65px;
  }

  .footer__btn {
    width: 230px;
    padding-right: 35px;
    padding-left: 35px;
  }
}

@media (max-width: 950px) {



  .project__descr-block {
    padding-top: 160px;
    padding-left: 90px;
  }

  .project__title {
    font-size: 50px;
    line-height: 61px;
    max-width: 588px;
  }

  .project__descr {
    font-size: 18px;
    line-height: 22px;
    max-width: 588px;
  }

  /* footer */

  .header__container {
    height: 69px;
  }

  .burger__menu {
    padding: 21px 50px;
    height: 733px;
    width: 420px;
  }

  .header__search-menu {
    position: absolute;
    width: 289px;
    height: 60px;
    padding: 16px 0;
    border-radius: 16px;
    top: 4px;
  }

  .header__form-search {
    flex-direction: row;
  }

  .search {
    width: 162px;
    margin-right: 7px;
    margin-left: 16px;
    margin-bottom: 16px;
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 18px;
  }

  .header__link-search2 {
    margin-right: 12px;
  }


  /* project */

  .project {
    height: 663px;
  }

  /* about-us */

  .about-us__top-content {
    height: 453px;
  }

  .about-us__left-card-descr {
    padding-left: 40px;
    max-width: 370px;
    margin-right: 195px;
  }

  .about-us__left-card-descr {
    max-width: 412px;
    padding-left: 40px;
    margin-right: 37px;
  }

  .about-us__btn {
    margin-right: 40px;
  }

  .about-us__image {
    height: 99px;
    width: 114px;
  }

  .about-us__right-card1 {
    padding: 35px 40px 34px 40px;
  }

  .about-us__right-card2 {
    padding: 35px 40px 32px 40px;
  }

  .about-us__right-image {
    margin-right: 16px;
    padding-top: 31px;
  }

  .about-us__card-title {
    letter-spacing: -0.05ch;
  }

  /* how */

  .how__container {
    margin-bottom: 88px;
  }

  .how__title {
    margin-bottom: 49px;
  }

  .how__list {
    margin-bottom: 50px;
    justify-content: space-between;
  }

  .how__item:not(:last-child) {
    margin-right: 0;
  }

  .how__block {
    flex-direction: column-reverse;
  }

  .how__right-side {
    margin-bottom: 47px;
    min-height: 284px;
  }

  .how__descr {
    margin-bottom: 20px;
    letter-spacing: -0.02ch;
  }

  /* question */

  .questions__akkardion-descr {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  /* footer */

  .footer__left-block {
    display: none;
  }

  .footer__centr-mini {
    display: block;
  }

  .footer__central-block {
    padding-left: 0;
  }

  .footer__btn {
    width: 240px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (max-width: 760px) {

  /* footer */

  .burger__menu {
    padding: 23px 15px;
    width: 320px;
    height: 378px;
  }

  .burger__close {
    margin-bottom: 32px;
  }

  .burger__link:not(:last-child) {
    margin-bottom: 32px;
  }

  .burger__link-a {
    font-size: 16px;
    line-height: 20px;
  }

  .header__container {
    height: 69px;
  }

  /* project */

  .project {
    height: 308px;
  }

  .project__descr-block {
    max-width: 760px;
    display: flex;
    flex-direction: column;
    padding: 60px 100px 0 100px;
    margin: 0 auto;
  }

  .project__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .project__descr {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .project__btn {
    width: 190px;
    margin: 0 auto;
    padding: 13px 35px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .about-us__title {
    margin-bottom: 20px;
  }

  .about-us__descr {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__top-content {
    height: 290px;
  }

  .about-us__left-card-content {
    display: none;
  }

  .about-us__left-card-mini {
    display: block;
  }

  .about-us__left-card {
    margin: 0;
    margin-bottom: 8px;
  }

  .about-us__left-card-descr {
    margin-bottom: 8px;
    padding: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #333;
  }

  .about-us__btn {
    height: 40px;
    margin-bottom: 32px;
    padding: 11px 14px 14px 14px;
    font-size: 12px;
    line-height: 15px;
    color: #f90;
  }

  .about-us__right-card1 {
    padding: 0;
    flex-direction: column;
    border: none;
    min-height: 205px;
  }

  .about-us__right-card2 {
    padding: 0;
    flex-direction: column;
    border: none;
    min-height: 205px;
  }

  .about-us__image {
    height: 49px;
    width: 64px;
    margin-bottom: 12px;
  }

  .about-us__card-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .about-us__right-card-text {
    margin: 0;
    font-size: 14px;
    line-height: 28px;
  }

  /* questions */

  .questions__akkardion-descr {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }


  /* footer */
  .footer__container {
    padding: 32px 15px;
  }

  .footer__central-block {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer__title {
    padding-right: 80px;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 24px;
    line-height: 29px;
  }

  .footer__form {
    margin-bottom: 0;
  }

  .footer__form-descr {
    margin-bottom: 25px;
  }

  .footer__input {
    width: 290px;
  }

  .footer__radios {
    padding-bottom: 16px;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #595959;
  }

  .footer__btn {
    margin: 0 auto;
    margin-bottom: 11px;
    padding: 13px 25px;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
  }

  .footer__logo-centr {
    justify-content: center;
  }

  .footer__logo {
    width: 131px;
    height: 42px;
  }

  .footer__messendger svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .title {
    font-size: 24px;
    line-height: 29px;
  }

  /* header */
  .header__container {
    margin-bottom: 0;
  }

  .header__logo {
    width: 110px;
  }

    /* project */

  .project__descr-block {
    padding: 60px 35px 0 35px;
  }

  .project__descr {
    letter-spacing: -0.05ch;
  }

  .project__btn {
    width: 164px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: -0.05ch;
  }

  /* about-us__title */

  .about-us__descr {
    letter-spacing: -0.01ch;
    margin-bottom: 13px;
  }

  .about-us__top-content {
    height: 200px;
  }

  .about-us__btn {
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 20px;
    margin-bottom: 4px;
  }

  .about-us__image {
    margin-bottom: 8px;
  }

  .about-us__card-title{
    margin-bottom: 5px;
  }

  .about-us__right-card1 {
    margin-bottom: 0;
  }

    /* how */
  .how__title {
    margin-bottom: 21px;
  }

  .how__list {
    margin-bottom: 16px;
  }

  .how__item {
    font-size: 14px;
    line-height: 17px;
  }

  .how__right-side {
    min-height: 160px;
    margin-bottom: 16px;
  }

  .how__title-descr {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .how__descr {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.01vh;
  }

  .how__links {
    height: 40px;
    width: 162px;
  }

  .how__btn {
    padding: 11px 38px 14px 38px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .how__link2 {
    padding: 11px 30px 14px 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }

  /* questions */
  .questions__title {
    padding-bottom: 16px;
  }

  .questions__descr {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 14px;
    margin-bottom: 22px;
  }

  .questions__link svg {
    width: 30px;
    height: 30px;
  }

  .questions__container {
    margin-bottom: 60px;
  }

  .questions__akkardion-descr {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
  }

  /* footer */

  .footer__container {
    padding: 32px 15px;
  }

  .footer__title {
    margin-bottom: 20px;
  }

  .footer__btn {
    width: 180px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer__messendger {
    margin-right: 10px;
  }
}
